<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome <%= user.username%></p>
    
  <div>
    <a href="/logout">Logout</a>
  </div>

  </body>
</html>

